{% extends "main.html" %}

{% from "bootstrap/form.html" import render_form_row %}
{% from "bootstrap/utils.html" import render_messages %}

{% block title %}My Services{% endblock%}

{% block styles %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
{% endblock %}

{% block content %}
<script>
    $(function() {
      $('#myservices_list').bootstrapTable({
        data: JSON.parse('{{ services | tojson | safe}}')
      })
    })

    function myservices_list_ViewFormatter (data) {
      var template = $('#myservices_listPostTemplate').html();
      var view = '';

      $.each(data, function (i, row) {
        var stars = ''
        for (i = 0; i < 5; i++) {

          if (i < parseInt(row.service_post_user_rating)) {
            stars += '<span class="fa fa-star" style="color:#EFFD5F"></span> ';
          }
          else {
            stars += '<span class="fa fa-star" style="color:grey"></span> ';
          }
        }
        stars += '(' + row.service_post_user_rating.toString() + ')';

        var trusted = ''
        if (row.service_post_user_is_trusted) {
          trusted = '<span class="badge badge-info tags">Trusted</span>';
        }
        else {
          trusted = '';
        }

        var level = ''
        switch (row.service_post_user_level) {
          case 1:
            level = '<span class="badge badge-info tags">Basic</span>';
            break;
          case 2:
            level = '<span class="badge badge-info tags">Semi</span>';
            break;
          case 3:
            level = '<span class="badge badge-info tags">Full</span>';
            break;
        }

        var month = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
        
        var date_posted = new Date(row.service_post_date_posted);
        date_posted = month[date_posted.getMonth()+1] + ' ' + date_posted.getDate() + ', ' + date_posted.getFullYear();
        
        var schedule = new Date(row.service_post_schedule);
        schedule = month[schedule.getMonth()+1] + ' ' + schedule.getDate() + ', ' + schedule.getFullYear();
        
        view += template
          .replaceAll('%SERVICE_POST_ID%', row.service_post_id)
          .replaceAll('%TITLE%', row.service_post_title)
          .replaceAll('%DESCRIPTION%', row.service_post_description)
          .replaceAll('%USER_ID%', row.service_post_user_id)
          .replaceAll('%USER_FIRST_NAME%', row.service_post_user_first_name)
          .replaceAll('%USER_MIDDLE_NAME%', row.service_post_user_middle_name)
          .replaceAll('%USER_LAST_NAME%', row.service_post_user_last_name)
          .replaceAll('%USER_RATING%', stars)
          .replaceAll('%USER_LEVEL%', level)
          .replaceAll('%USER_IS_TRUSTED%', trusted)
          .replaceAll('%DATE_POSTED%', date_posted)
          .replaceAll('%SCHEDULE%', schedule)
          .replaceAll('%LOCATION%', row.service_post_location)
          .replaceAll('%TYPE%', row.service_post_service_type_name)
          .replaceAll('%CATEGORY%', row.service_post_service_category_name)
          .replaceAll('%AMOUNT%', row.service_post_amount);
      })
      
      return `<div class="row mx-0">${view}</div>`;
    }
</script>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">At Your Service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/explore-services">Explore Services</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/job-ads">Job Ads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my-requests">My Requests</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/my-services">My Services<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/notifications">Notifications</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/messages">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">User</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/profile">View Profile</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#sign-out">Sign Out</a>
        </div>
      </li>
    </ul>
    <form action="/sign-out">
      <a type="submit" class="btn btn-primary" style="color:white" data-toggle="modal" data-target="#sign-out">Sign Out</a>
    </form>
  </div>
</nav>

<div class="modal fade" id="sign-out">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#sign-out">Sign Out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to sign out?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="/sign-out">
          <input type="submit" value="Sign Out" class="btn btn-danger">
        </form>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div>{{ render_messages() }}</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="container pb-5">
        <p class="lead">My Services List</p>
        <table
          id="myservices_list"
          data-search="true"
          data-show-search-button="true"
          data-show-search-clear-button="true"
          data-advanced-search="true"
          data-strict-search="true"
          data-id-table="advancedTable"
          data-show-refresh="true"
          data-pagination="true"
          data-page-size="4"
          data-pagination-h-align="left"
          data-pagination-detail-h-align="right"
          data-show-custom-view="true"
          data-show-custom-view-button="true"
          data-custom-view="myservices_list_ViewFormatter">
          <thead>
            <tr>
              <th data-field="service_post_id" data-searchable="false">Service Post ID</th>
              <th data-field="service_post_title" data-searchable="true">Service Post Title</th>
              <th data-field="service_post_description" data-searchable="false">Service Post Description</th>
              <th data-field="service_post_user_id" data-searchable="true">Service Post User ID</th>
              <th data-field="service_post_user_first_name" data-searchable="true">Service Post User First Name</th>
              <th data-field="service_post_user_middle_name" data-searchable="true">Service Post User Middle Name</th>
              <th data-field="service_post_user_last_name" data-searchable="true">Service Post User Last Name</th>
              <th data-field="service_post_user_rating" data-searchable="false">Service Post User Rating</th>
              <th data-field="service_post_user_level" data-searchable="false">Service Post User Level</th>
              <th data-field="service_post_user_is_trusted" data-searchable="false">Service Post User Is Trusted</th>
              <th data-field="service_post_date_posted" data-searchable="false">Service Post Date Posted</th>
              <th data-field="service_post_schedule" data-searchable="false">Service Post Schedule</th>
              <th data-field="service_post_location" data-searchable="true">Service Post Location</th>
              <th data-field="service_post_service_type_id" data-searchable="true">Service Post Type ID</th>
              <th data-field="service_post_service_type_name" data-searchable="true">Service Post Type Name</th>
              <th data-field="service_post_service_category_id" data-searchable="true">Service Post Category ID</th>
              <th data-field="service_post_service_category_name" data-searchable="true">Service Post Category Name</th>
              <th data-field="service_post_amount" data-searchable="false">Service Post Amount</th>
            </tr>
        </thead>
        </table>
      
        <template id="myservices_listPostTemplate">
          <!-- Card -->
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="row justify-content-center py-3">
                      <div class="col-3 px-2">
                        <img src="https://media.tarkett-image.com/large/TH_24567080_24594080_24596080_24601080_24563080_24565080_24588080_001.jpg" class="rounded-circle" height="75" width="75" alt="Request Post Image">
                      </div>
                      <div class="col-8 mx-2">
                        <h4>%TITLE%</h4>
                        <a class="lead" href="/users/%USER_ID%" style="color: #5a5a5a;">%USER_ID%<a></a>
                      </div>
                    </div>
                    <p>%USER_RATING%</p>
                    <p>%USER_LEVEL% %USER_IS_TRUSTED%</p>
                    <p>%DESCRIPTION%</p>
                    <p><small>Posted on %DATE_POSTED%</small></p>
                    <button class="btn btn-secondary"><i class="far fa-heart"></i></button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal_view_service_post_%SERVICE_POST_ID%">More info...</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Modal -->
          <div class="modal fade" id="modal_view_service_post_%SERVICE_POST_ID%">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="container">
                    <div class="row">
                      <div class="col-3">
                        <img src="https://media.tarkett-image.com/large/TH_24567080_24594080_24596080_24601080_24563080_24565080_24588080_001.jpg" class="rounded-circle" height="75" width="75" alt="Service">
                      </div>
                      <div class="col">
                        <h3 class="modal-title" id="modal_view_%USER_ID%_label">%TITLE%</h5>
                          <a class="lead" href="/users/%USER_ID%" style="color: #5a5a5a;">%USER_ID%<a>
                        <p>%USER_RATING%</p>
                        <p>%USER_LEVEL% %USER_IS_TRUSTED%</p>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid py-3">
                    <p><b>Service Provider:</b> %USER_FIRST_NAME% %USER_MIDDLE_NAME% %USER_LAST_NAME%</p>
                    <p></p>
                    <p><b>Description:</b> %DESCRIPTION%</p>
                    <p><b>Service Category:</b> %CATEGORY%</p>
                    <p><b>Service Type:</b> %TYPE%</p>                   
                    <p><b>Schedule:</b> %SCHEDULE%</p>
                    <p><b>Location:</b> %LOCATION%</p>
                    <p><b>Amount:</b> ₱%AMOUNT%</p>
                  </div>
                  <div>
                    <td width="50">
                      <a href="/edit-service-post/%SERVICE_POST_ID%" class="btn btn-primary btn-lg btn-block">Edit</a>
                      <a href="/delete-service-post/%SERVICE_POST_ID%" class="btn btn-danger btn-delete btn-lg btn-block" onclick="return confirm('Are you sure you want to delete this Service on the list?')">Delete</a>
                    </td>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>

    <div class="col-6">
      <div class="card card-body">
        <form method="POST" action="/my-services">
          <h3 class="py-2">Add Service Post</h3>
          {{ form.csrf_token() }}
          {{ render_form_row([form.service_post_title]) }}
          {{ render_form_row([form.service_post_description]) }}
          {{ render_form_row([form.service_post_service_type]) }}
          {{ render_form_row([form.service_post_location]) }}
          {{ render_form_row([form.service_post_schedule]) }}
          {{ render_form_row([form.service_post_amount]) }}
          {{ render_form_row([form.submit]) }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
