{% extends "main.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
{% endblock %}

{% block content %}
<script>
    $(function() {
      $('#myrequests_list').bootstrapTable({
        data: JSON.parse('{{ requests | tojson | safe}}')
      })
    })

    function myrequests_list_ViewFormatter (data) {
      var template = $('#myrequests_listPostTemplate').html();
      var view = '';

      $.each(data, function (i, row) {
        var stars = ''
        for (i = 0; i < 5; i++) {

          if (i < parseInt(row.request_post_user_rating)) {
            stars += '<span class="fa fa-star" style="color:#EFFD5F"></span> ';
          }
          else {
            stars += '<span class="fa fa-star" style="color:grey"></span> ';
          }
        }
        stars += '(' + row.request_post_user_rating.toString() + ')';

        var trusted = ''
        if (row.request_post_user_is_trusted) {
          trusted = '<span class="badge badge-info tags">Trusted</span>';
        }
        else {
          trusted = '';
        }

        var level = ''
        switch (row.request_post_user_level) {
          case 1:
            level = '<span class="badge badge-info tags">Basic</span>';
            break;
          case 2:
            level = '<span class="badge badge-info tags">Semi</span>';
            break;
          case 3:
            level = '<span class="badge badge-info tags">Full</span>';
            break;
        }

        var month = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
        
        var date_posted = new Date(row.request_post_date_posted);
        date_posted = month[date_posted.getMonth()+1] + ' ' + date_posted.getDate() + ', ' + date_posted.getFullYear();
        
        var schedule = new Date(row.request_post_schedule);
        schedule = month[schedule.getMonth()+1] + ' ' + schedule.getDate() + ', ' + schedule.getFullYear();
        
        view += template
          .replaceAll('%REQUEST_POST_ID%', row.request_post_id)
          .replaceAll('%TITLE%', row.request_post_title)
          .replaceAll('%DESCRIPTION%', row.request_post_description)
          .replaceAll('%USER_ID%', row.request_post_user_id)
          .replaceAll('%USER_FIRST_NAME%', row.request_post_user_first_name)
          .replaceAll('%USER_MIDDLE_NAME%', row.request_post_user_middle_name)
          .replaceAll('%USER_LAST_NAME%', row.request_post_user_last_name)
          .replaceAll('%USER_RATING%', stars)
          .replaceAll('%USER_LEVEL%', level)
          .replaceAll('%USER_IS_TRUSTED%', trusted)
          .replaceAll('%DATE_POSTED%', date_posted)
          .replaceAll('%SCHEDULE%', schedule)
          .replaceAll('%LOCATION%', row.request_post_location)
          .replaceAll('%TYPE%', row.request_post_service_type_name)
          .replaceAll('%CATEGORY%', row.request_post_service_category_name)
          .replaceAll('%AMOUNT%', row.request_post_amount);
      })
      
      return `<div class="row mx-0">${view}</div>`;
    }
	
	$(function() {
      $('#myservices_list').bootstrapTable({
        data: JSON.parse('{{ services | tojson | safe}}')
      })
    })

    function myservices_list_ViewFormatter (data) {
      var template = $('#myservices_listPostTemplate').html();
      var view = '';

      $.each(data, function (i, row) {
        var stars = ''
        for (i = 0; i < 5; i++) {

          if (i < parseInt(row.service_post_user_rating)) {
            stars += '<span class="fa fa-star" style="color:#EFFD5F"></span> ';
          }
          else {
            stars += '<span class="fa fa-star" style="color:grey"></span> ';
          }
        }
        stars += '(' + row.service_post_user_rating.toString() + ')';

        var trusted = ''
        if (row.service_post_user_is_trusted) {
          trusted = '<span class="badge badge-info tags">Trusted</span>';
        }
        else {
          trusted = '';
        }

        var level = ''
        switch (row.service_post_user_level) {
          case 1:
            level = '<span class="badge badge-info tags">Basic</span>';
            break;
          case 2:
            level = '<span class="badge badge-info tags">Semi</span>';
            break;
          case 3:
            level = '<span class="badge badge-info tags">Full</span>';
            break;
        }

        var month = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
        
        var date_posted = new Date(row.service_post_date_posted);
        date_posted = month[date_posted.getMonth()+1] + ' ' + date_posted.getDate() + ', ' + date_posted.getFullYear();
        
        var schedule = new Date(row.service_post_schedule);
        schedule = month[schedule.getMonth()+1] + ' ' + schedule.getDate() + ', ' + schedule.getFullYear();
        
        view += template
          .replaceAll('%SERVICE_POST_ID%', row.service_post_id)
          .replaceAll('%TITLE%', row.service_post_title)
          .replaceAll('%DESCRIPTION%', row.service_post_description)
          .replaceAll('%USER_ID%', row.service_post_user_id)
          .replaceAll('%USER_FIRST_NAME%', row.service_post_user_first_name)
          .replaceAll('%USER_MIDDLE_NAME%', row.service_post_user_middle_name)
          .replaceAll('%USER_LAST_NAME%', row.service_post_user_last_name)
          .replaceAll('%USER_RATING%', stars)
          .replaceAll('%USER_LEVEL%', level)
          .replaceAll('%USER_IS_TRUSTED%', trusted)
          .replaceAll('%DATE_POSTED%', date_posted)
          .replaceAll('%SCHEDULE%', schedule)
          .replaceAll('%LOCATION%', row.service_post_location)
          .replaceAll('%TYPE%', row.service_post_service_type_name)
          .replaceAll('%CATEGORY%', row.service_post_service_category_name)
          .replaceAll('%AMOUNT%', row.service_post_amount);
      })
      
      return `<div class="row mx-0">${view}</div>`;
    }
</script>

<!-- Navigation -->
<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	  <a class="navbar-brand" href="/">At Your Service</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class ="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
				<a class ="nav-link" href="/client">Client</a>
			</li>
			<li class="nav-item">
				<a class ="nav-link" href="/service-provider">Service Provider</a>
			</li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item px-2">
				<a class ="btn btn-primary" href="/sign-in">Sign In</a>
			</li>
			<li class="nav-item px-2">
				<a class ="btn btn-secondary" href="/account-type-selection">Sign Up</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
  </header>

<!--- Jumbotron -->
<div class="container-fluid py-5">
<div class="row Jumbotron text-center">
	<div class="col-12">
		<h1 class="display-5"> Find The Best Service Providers in the Philippines. </h1>
	</div>
	<div class="col-12">
		<p class = "lead">Look for what you're looking for.</p>
	</div>
	
</div>
</div>

<div class="container">
	<div class="row">
	  <div class="col-6">
		<div class="container pb-5">
		  <p class="lead"><strong>Request Posts</strong></p>
		  <table
			id="myrequests_list"
			data-search="true"
			data-show-search-button="true"
			data-show-search-clear-button="true"
			data-advanced-search="true"
			data-strict-search="true"
			data-id-table="advancedTable"
			data-show-refresh="true"
			data-pagination="true"
			data-page-size="4"
			data-pagination-h-align="left"
			data-pagination-detail-h-align="right"
			data-show-custom-view="true"
			data-show-custom-view-button="true"
			data-custom-view="myrequests_list_ViewFormatter">
			<thead>
			  <tr>
				<th data-field="request_post_id" data-searchable="false">Request Post ID</th>
				<th data-field="request_post_title" data-searchable="true">Request Post Title</th>
				<th data-field="request_post_description" data-searchable="false">Request Post Description</th>
				<th data-field="request_post_user_id" data-searchable="true">Request Post User ID</th>
				<th data-field="request_post_user_first_name" data-searchable="true">Request Post User First Name</th>
				<th data-field="request_post_user_middle_name" data-searchable="true">Request Post User Middle Name</th>
				<th data-field="request_post_user_last_name" data-searchable="true">Request Post User Last Name</th>
				<th data-field="request_post_user_rating" data-searchable="false">Request Post User Rating</th>
				<th data-field="request_post_user_level" data-searchable="false">Request Post User Level</th>
				<th data-field="request_post_user_is_trusted" data-searchable="false">Request Post User Is Trusted</th>
				<th data-field="request_post_date_posted" data-searchable="false">Request Post Date Posted</th>
				<th data-field="request_post_schedule" data-searchable="false">Request Post Schedule</th>
				<th data-field="request_post_location" data-searchable="true">Request Post Location</th>
				<th data-field="request_post_service_type_id" data-searchable="true">Request Post Type ID</th>
				<th data-field="request_post_service_type_name" data-searchable="true">Request Post Type Name</th>
				<th data-field="request_post_service_category_id" data-searchable="true">Request Post Category ID</th>
				<th data-field="request_post_service_category_name" data-searchable="true">Request Post Category Name</th>
				<th data-field="request_post_amount" data-searchable="false">Request Post Amount</th>
			  </tr>
		  </thead>
		  </table>
		
		  <template id="myrequests_listPostTemplate">
			<!-- Card -->
			<div class="col-12 mt-3">
			  <div class="card">
				<div class="card-body">
				  <div class="row">
					<div class="col-12">
					  <div class="row justify-content-center py-3">
						<div class="col-3 px-2">
						  <img src="https://media.tarkett-image.com/large/TH_24567080_24594080_24596080_24601080_24563080_24565080_24588080_001.jpg" class="rounded-circle" height="75" width="75" alt="Request Post Image">
						</div>
						<div class="col-8 mx-2">
						  <h4>%TITLE%</h4>
						  <a class="lead" href="/users/%USER_ID%" style="color: #5a5a5a;">%USER_ID%<a></a>
						</div>
					  </div>
					  <p>%USER_RATING%</p>
					  <p>%USER_LEVEL% %USER_IS_TRUSTED%</p>
					  <p>%DESCRIPTION%</p>
					  <p><small>Posted on %DATE_POSTED%</small></p>
					  <button class="btn btn-secondary"><i class="far fa-heart"></i></button>
					  <button class="btn btn-primary" data-toggle="modal" data-target="#modal_view_request_post_%REQUEST_POST_ID%">More info...</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			
			<!-- Modal -->
			<div class="modal fade" id="modal_view_request_post_%REQUEST_POST_ID%">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<div class="container">
					  <div class="row">
						<div class="col-3">
						  <img src="https://media.tarkett-image.com/large/TH_24567080_24594080_24596080_24601080_24563080_24565080_24588080_001.jpg" class="rounded-circle" height="75" width="75" alt="Service">
						</div>
						<div class="col">
						  <h3 class="modal-title" id="modal_view_%USER_ID%_label">%TITLE%</h5>
							<a class="lead" href="/users/%USER_ID%" style="color: #5a5a5a;">%USER_ID%<a>
						  <p>%USER_RATING%</p>
						  <p>%USER_LEVEL% %USER_IS_TRUSTED%</p>
						</div>
					  </div>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					<div class="container-fluid py-3">
					  <p><b>Client:</b> %USER_FIRST_NAME% %USER_MIDDLE_NAME% %USER_LAST_NAME%</p>
					  <p></p>
					  <p><b>Description:</b> %DESCRIPTION%</p>
					  <p><b>Service Category:</b> %CATEGORY%</p>
					  <p><b>Service Type:</b> %TYPE%</p>                   
					  <p><b>Schedule:</b> %SCHEDULE%</p>
					  <p><b>Location:</b> %LOCATION%</p>
					  <p><b>Amount:</b> ₱%AMOUNT%</p>
					</div>
					<div>
						<td width="50">
							<div class="container-fluid">
								<form action="/request-post/%REQUEST_POST_ID%">
								  <input type="submit" value="Apply now!" class="btn btn-primary btn-lg btn-block">
								</form>
							  </div>
							</div>
						</td>
					</div>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				  </div>
				</div>
			  </div>
			</div>
		  </template>
		</div>
		<div class="container text-right">
			<a href="/home-search-jobs"><button type="button" class="btn btn-primary">See more >></button></a>
		</div>
	  </div>
  
	  <div class="col-6">
			<div class="container pb-5">
				<p class="lead"><strong>Service Posts</strong></p>
				<table
				  id="myservices_list"
				  data-search="true"
				  data-show-search-button="true"
				  data-show-search-clear-button="true"
				  data-advanced-search="true"
				  data-strict-search="true"
				  data-id-table="advancedTable"
				  data-show-refresh="true"
				  data-pagination="true"
				  data-page-size="4"
				  data-pagination-h-align="left"
				  data-pagination-detail-h-align="right"
				  data-show-custom-view="true"
				  data-show-custom-view-button="true"
				  data-custom-view="myservices_list_ViewFormatter">
				  <thead>
					<tr>
					  <th data-field="service_post_id" data-searchable="false">Service Post ID</th>
					  <th data-field="service_post_title" data-searchable="true">Service Post Title</th>
					  <th data-field="service_post_description" data-searchable="false">Service Post Description</th>
					  <th data-field="service_post_user_id" data-searchable="true">Service Post User ID</th>
					  <th data-field="service_post_user_first_name" data-searchable="true">Service Post User First Name</th>
					  <th data-field="service_post_user_middle_name" data-searchable="true">Service Post User Middle Name</th>
					  <th data-field="service_post_user_last_name" data-searchable="true">Service Post User Last Name</th>
					  <th data-field="service_post_user_rating" data-searchable="false">Service Post User Rating</th>
					  <th data-field="service_post_user_level" data-searchable="false">Service Post User Level</th>
					  <th data-field="service_post_user_is_trusted" data-searchable="false">Service Post User Is Trusted</th>
					  <th data-field="service_post_date_posted" data-searchable="false">Service Post Date Posted</th>
					  <th data-field="service_post_schedule" data-searchable="false">Service Post Schedule</th>
					  <th data-field="service_post_location" data-searchable="true">Service Post Location</th>
					  <th data-field="service_post_service_type_id" data-searchable="true">Service Post Type ID</th>
					  <th data-field="service_post_service_type_name" data-searchable="true">Service Post Type Name</th>
					  <th data-field="service_post_service_category_id" data-searchable="true">Service Post Category ID</th>
					  <th data-field="service_post_service_category_name" data-searchable="true">Service Post Category Name</th>
					  <th data-field="service_post_amount" data-searchable="false">Service Post Amount</th>
					</tr>
				</thead>
				</table>
			  
				<template id="myservices_listPostTemplate">
				  <!-- Card -->
				  <div class="col-12 mt-3">
					<div class="card">
					  <div class="card-body">
						<div class="row">
						  <div class="col-12">
							<div class="row justify-content-center py-3">
							  <div class="col-3 px-2">
								<img src="https://media.tarkett-image.com/large/TH_24567080_24594080_24596080_24601080_24563080_24565080_24588080_001.jpg" class="rounded-circle" height="75" width="75" alt="Request Post Image">
							  </div>
							  <div class="col-8 mx-2">
								<h4>%TITLE%</h4>
								<a class="lead" href="/users/%USER_ID%" style="color: #5a5a5a;">%USER_ID%<a></a>
							  </div>
							</div>
							<p>%USER_RATING%</p>
							<p>%USER_LEVEL% %USER_IS_TRUSTED%</p>
							<p>%DESCRIPTION%</p>
							<p><small>Posted on %DATE_POSTED%</small></p>
							<button class="btn btn-secondary"><i class="far fa-heart"></i></button>
							<button class="btn btn-primary" data-toggle="modal" data-target="#modal_view_service_post_%SERVICE_POST_ID%">More info...</button>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				  
				  <!-- Modal -->
				  <div class="modal fade" id="modal_view_service_post_%SERVICE_POST_ID%">
					<div class="modal-dialog" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <div class="container">
							<div class="row">
							  <div class="col-3">
								<img src="https://media.tarkett-image.com/large/TH_24567080_24594080_24596080_24601080_24563080_24565080_24588080_001.jpg" class="rounded-circle" height="75" width="75" alt="Service">
							  </div>
							  <div class="col">
								<h3 class="modal-title" id="modal_view_%USER_ID%_label">%TITLE%</h5>
								  <a class="lead" href="/users/%USER_ID%" style="color: #5a5a5a;">%USER_ID%<a>
								<p>%USER_RATING%</p>
								<p>%USER_LEVEL% %USER_IS_TRUSTED%</p>
							  </div>
							</div>
						  </div>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body">
						  <div class="container-fluid py-3">
							<p><b>Service Provider:</b> %USER_FIRST_NAME% %USER_MIDDLE_NAME% %USER_LAST_NAME%</p>
							<p></p>
							<p><b>Description:</b> %DESCRIPTION%</p>
							<p><b>Service Category:</b> %CATEGORY%</p>
							<p><b>Service Type:</b> %TYPE%</p>                   
							<p><b>Schedule:</b> %SCHEDULE%</p>
							<p><b>Location:</b> %LOCATION%</p>
							<p><b>Amount:</b> ₱%AMOUNT%</p>
						  </div>
						  <div>
							<td width="50">
								<div class="container-fluid">
									<form action="/service-post/%SERVICE_POST_ID%">
									  <input type="submit" value="Book now!" class="btn btn-primary btn-lg btn-block">
									</form>
								  </div>
								</div>
							</td>
						  </div>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				  </div>
				</template>
			  </div>
			</div>
			<div class="container text-right">
				<a href="/home-search-services"><button type="button" class="btn btn-primary">See more >></button></a>
			</div>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}




